<div class="container">
    <h2 class="mt-2 mb-2">Writing Assignments</h2>
    <div class="row">
        <div *ngFor="let assignment of assignments" class="col-sm-6 mb-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{assignment.title}}</h5>
              <p class="card-text">{{assignment.description}}</p>
              <p class="card-text"><small>Due: {{assignment.due_date}}</small></p>
              <span *ngIf="assignment.status == 'Pending'" class="badge rounded-pill bg-warning text-dark">{{assignment.status}}</span>
              <span *ngIf="assignment.status == 'In Progress'" class="badge rounded-pill bg-secondary text-light">{{assignment.status}}</span>
              <span *ngIf="assignment.status == 'Submitted'" class="badge rounded-pill bg-success text-light">{{assignment.status}}</span>
            </div>
          </div>
        </div>
    </div>
</div>
